<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>SuperHero Sightings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Page Body-->
    <div class="container-fluid">
      <div class="row" id="header">
        <div class="col-12 text-center">
          <h1><a href="/" class="text-dark">SuperHero Sightings</a></h1>
        </div>
      </div>
      <div class="row justify-content-center" id="navBar">
        <nav class="navbar navbar-text navbar-expand-lg navbar-light "
        th:replace="fragments/commonfragments :: navbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link btn" href="/sightings">Sightings</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link btn" href="/identities">Identities</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link btn" href="/powers">Powers</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link btn" href="/organizations">Organizations</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link btn" href="/locations">Locations</a>
              </li>
            </ul>
        </nav>
      </div>

    <div class="row pageBodyRow">
      <div class="col-12 pageBodyCol">
        <div class="row pageDescription">
          <div class="col-11">
            <h3>Organizations</h3>
          </div>
          <br>
          <div class="col-11 col-sm-10 ">
            --insert descriptive paragraph about this page.--
          </div>
        </div>

        <hr>

        <div class="row pageControlsRow">
          <div class="col-12 pageControlsCol">
            <div class="row newEntityRow">
              <a class="btn btn-outline-primary mx-auto"
                  href="organization/new">New Organization</a>
            </div>
          </div>
        </div>

        <hr>

        <div class="row organizationList" th:replace="fragments/organizationfragments :: organizationList">
          <div class="col-12 organizationListCol">
            <div class="row organizationListTitleRow listTitleRow">
              <div class="col-3 organizationListTitleName">
                Organization
              </div>
              <div class="col-4 organizationListTitleDescription">
                Description
              </div>
              <div class="col-3 organizationListTitleAddress">
                Address
              </div>
              <div class="col-2 organizationListTitleControls">
              </div>
            </div>
            <!--organization identities go here-->

            <div class="row entityRow"
            th:each="(org : ${organizations})">
              <div class="col-3 organizationName">
                  <span
                  th:text="${org.orgName}">The Avengers</span>
              </div>
              <div class="col-4 organizationDescription">
                <span
                th:text="${org.orgDescription}">Save the world like a few thousand times or w/e.</span>
              </div>
              <div class="col-3 organizationAddress">
                <div class="row addressLine1">
                  <span
                  th:text="${org.loc.street}">4 Times Square</span>
                </div>
                <div class="row addressLine2">
                  <span
                  th:text="${org.loc.street2}">Suite 100</span>
                </div>
                <div class="row addressLine3">
                  <span
                  th:text="|${org.loc.city} ,  ${org.loc.state} ${org.loc.zip}|"
                  >New York, NY 10036</span>
                </div>
                <div class="row addressCoordinates">
                  <span
                  th:text="|${org.loc.latitude} ,  ${org.loc.longitude}|"
                  >15.2323, -30.7854</span>
                </div>
              </div>
              <div class="col-2 d-flex entityControls">
                <a href="#"
                    th:href="@{organization/{id} (id=( ${org.orgId} ) ) }">
                  <img src="../img/info.png" alt="info" class="img-fluid controlBtn">
                </a>
                <a href="#"
                    th:href="@{organization/edit/{id} (id=( ${org.orgId} ) ) }">
                  <img src="../img/edit.png" alt="edit" class="img-fluid controlBtn">
                </a>
                <a href="#"
                    th:href="@{organization/delete/{id} (id=( ${org.orgId} ) ) }">
                  <img src="../img/delete.png" alt="delete" class="img-fluid controlBtn">
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- JS -->
    <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/90b26b5e3d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../js/main.js">    </script>
  </body>
</html>
