<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>SuperHero Sightings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">

  </head>
  <body>
    <!-- Page Body-->
    <div class="container-fluid">
      <div class="row center" th:replace="fragments/commonfragments :: header">
        <div class="header col-12" id="header">
          <div class="text-center">
            <h1><a href="/" class="text-dark">SuperHero Sightings</a></h1>
          </div>
        </div>
      </div>
      <div class="row center" th:replace="fragments/commonfragments :: navbar">
        <nav class="col-12 navbar navbar-text navbar-expand navbar-light" id="navBar">
            <ul class="nav navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link btn btn-link" id="navButtonSightings" href="/sightings">
                  <i class="fas fa-binoculars"></i>
                  <span>Sightings</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-link" id="navButtonSightings" href="/identities">
                  <i class="fas fa-address-card"></i>
                  <span>Identities</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-link" id="navButtonSightings" href="/powers">
                  <i class="fas fa-bolt"></i>
                  <span>Powers</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-link" id="navButtonSightings" href="/organizations">
                  <i class="fas fa-users"></i>
                  <span>Organizations</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-link" id="navButtonSightings" href="/locations">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>Locations</span>
                </a>
              </li>
            </ul>
        </nav>
      </div>

    <div class="row pageBodyRow">
      <div class="col-12 pageBodyCol">

        <div class="row pageDescription">
          <div class="col-11">
            <h3>Add New Sighting</h3>
          </div>
        </div>

        <div class="row addEntityRow" th:fragment="sightingForm">
          <div class="col-12 addEntityCol">
            <!-- Form goes here -->
            <form class="addEntityForm addSightingForm"name="addEntityForm" action="new"
            method="POST" th:action="@{/sighting/new}" th:object="${sighting}">

              <div th:replace="fragments/sightingfragments :: sightingFormBody">

              </div>

              <div th:replace="fragments/commonfragments :: btnsBackSave">

              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
    <!-- JS -->
    <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/90b26b5e3d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../js/main.js">    </script>
  </body>
</html>
